.modal.fade.in {
  left: 5%;
  top: 10%;
  margin: auto auto auto auto;
}

table {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black; 
  table-layout: auto;
  max-width: 200px;
  overflow: hidden;  
}

<!-- CSS styles for standard search box -->
#tfheader{
  background-color:#c3dfef;
}
#tfnewsearch{
  float:right;
  padding:1px;
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #0076a3; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  width: 163px;
}
.tfbutton {
  margin: 0;
  padding: 4px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  outline: none;
  cursor: pointer;
  text-align: right;
  float: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #0076a3; border-right:0px;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  vertical-align: top;
}
.tfbutton:hover {
  text-decoration: none;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
  clear:both;
}

td.mailContact,
span.mailSubject,
span.mailMessage {
  font-size: 15px;
}

td.mailContact,
span.mailSubject {
  font-weight: bold;
}

tr.mail-item.selected td,
li.folder-item.selected,
li.move-to-item.selected {
  background-color: #D9EDF7;
}

tr.mail-item.selected:hover td,
li.folder-item.selected:hover,
li.move-to-item.selected:hover {
  background-color: #C1E1FF;
}

li.folder-item:hover,
li.move-to-item:hover {
  background-color: #EDEDED;
}

li.folder-item,
li.move-to-item {
  padding: 3px 0;
  margin-left: -15px;
  font-size: 15px;
  cursor:pointer;
}

li.move-to-item {
  text-align: center;
  margin-right: -15px;
}

#new_mail {
  width: 100px;
}

div.compose-box {
  position: absolute;
  z-index: 10;
  background-color: #FFFFFF;
  width: 350px;
  border: 1px solid;
}

div.compose-body {
  padding: 0;
}

div.compose-header {
  font-size: 15px;
}

#recipient_select {
  width: 90%;
  margin-bottom: 0;
  font-weight: bold;
}

div.hint {
  border: 1px solid #EAEAEA;
  color:#CACACA;
}

#compose_message {
  height: 180px;
}

#compose_subject,
#compose_message {
  font-size: 15px;
  padding: 15px;
}

#move_to_selector {
  position: absolute;
  z-index: 10;
  background-color: #FFFFFF;
  border: 1px solid;
}